/* Header containing status and light */
.SCwidget-container {
    background: rgba(255, 255, 255, 0.39); /* Slightly transparent background */
    height: 100%;
    border-radius: 15px;
}

.SCwidget-container.dark {
    color: var(--darkmode-text-color);
}

.SCwidget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

/* Status label */
.SCwidget-status-label {
    font-size: 14px;
    font-weight: bold;
}

.SCwidget-status-label.dark {
    color: var(--darkmode-text-color);
}

/* Ensure alignment of StatusCircle */
.status-circle {
    margin-left: auto;
    z-index: 1000; /* Ensure it stays on top */
}

/* Status label */
.SCwidget-status-label {
    font-size: 14px;
    font-weight: bold;
}

/* Status light */
.SCwidget-status-light {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Card below the header */
.Stext-card {
    width: 100%;
    height: 100%;

    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}

/* Title inside the card */
.Stext-card-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: bold;
}

/* Body inside the card */
.Stext-card-content {
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
}
