.TechModal-container {
    width: 100%;
    padding: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    perspective: 1000px;
    box-sizing: border-box;
}

.TechModal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

@media (min-width: 640px) {
    .TechModal-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) {
    .TechModal-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1024px) {
    .TechModal-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1280px) {
    .TechModal-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

.TechModal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
}

.TechModal-squircle {
    width: 75px;
    height: 75px;
    border-radius: 17px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
}

.TechModal-squircle.jsyellow {
    background-color: #ffd600;
}

.TechModal-squircle.ansysblack {
    background-color: black;
}

.TechModal-squircle.vbagreen {
    background-color: #2b7224;
}

.TechModal-squircle.tsblue {
    background-color: #3178c6;
}

.TechModal-icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(20px);
    border-radius: 17px;
}

.TechModal-icon-wrapper.fill {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.TechModal-icon-wrapper.fill img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.TechModal-image {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.TechModal-name {
    margin-top: 0.75rem;
    text-align: center;
    font-size: var(--tech-font-size);
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

.TechModal-name.dark {
    color: var(--darkmode-text-color);
}

.TechModal-certification {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: gold;
    font-size: var(--tech-alt-font-size);
    position: relative;

    text-shadow: 0 0 20px gold; /* Adds glow to the text*/
}

.TechModal-certification:hover {
    text-shadow: 0 0 50px gold;
}

/* Add this to override the cursor for non-clickable items*/
.TechModal-certification.non-clickable {
    cursor: default;
}

.certified-label {
    margin-right: 4px;
}

.certified-icon {
    font-size: var(--tech-icon-font-size) !important;
}

.TechModal-ccourse {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: violet;
    font-size: var(--tech-alt-font-size);
    position: relative;

    text-shadow: 0 0 20px violet; /* Adds glow to the text*/
}

.TechModal-ccourse:hover {
    text-shadow: 0 0 50px violet;
}

/* Add this to override the cursor for non-clickable items*/
.TechModal-ccourse.non-clickable {
    cursor: default;
}

.completed-label {
    margin-right: 4px;
}

.completed-icon {
    font-size: var(--tech-icon-font-size) !important;
}
.TechModal-ccourse,
.TechModal-certification {
    margin-top: 0;
    padding: 0;
}

.TechModal-attibutes-container {
    height: var(--tech-alt-font-size);
    margin-bottom: 12px;
}
