.modal-backlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 98%;
    height: 92%;

    /* Add these properties */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-height: 1150px) {
    .modal-backlay {
        height: calc(91vh - (1000px - 100vh) * 0.01); /* Moderate rate of decrease */
    }
}

@media (max-width: 480px) {
    .modal-backlay {
        max-width: 95%;
        padding: 0 10px; /* Smaller padding for mobile */
    }
}

@media (max-height: 1000px) {
    .modal-backlay {
        height: calc(91vh - (1000px - 100vh) * 0.1); /* Moderate rate of decrease */
    }
}

/* Progressively more aggressive scaling as the screen gets smaller */
@media (max-height: 900px) {
    .modal-backlay {
        height: calc(vh - (900px - 100vh) * 0.1);
    }
}

@media (max-height: 600px) {
    .modal-backlay {
        height: calc(86vh - (600px - 100vh) * 0.15);
    }
}

@media (max-height: 400px) {
    .modal-backlay {
        height: calc(80vh - (400px - 100vh) * 0.15);
    }
}

/* Minimum height safeguard */
@media (max-height: 300px) {
    .modal-backlay {
        height: calc(70vh - (400px - 100vh) * 0.15);
    }
}

.modals-content {
    background-color: rgba(255, 255, 255, 0.979);
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    width: 1485px;
    height: 70vh; /* Fixed height relative to the viewport */
    overflow-y: hidden; /* Prevent scrollbars on the modal container */
    animation: scaleIn 0.3s ease-out;

    /* Add transition for smooth resizing */
    transition: max-width 0.3s ease, padding 0.3s ease;
    display: flex; /* Ensures children layout properly */
    flex-direction: column; /* Stacks children vertically */
}

.modals-content.dark {
    background-color: rgba(128, 128, 128, 0.98); /* Grey with 0.98 transparency */
}

.modals-content.small {
    width: 800px;
}

.modals-content.medium {
    width: 1000px;
}

@media (max-width: 1650px) and (min-width: 1201px) {
    .modals-content {
        max-width: 1100px; /* Slightly reduce max width */
        align-items: center; /* Center content horizontally */
        margin: 0 auto; /* Center horizontally */

        transition: max-width 0.3s ease, padding 0.3s ease;
    }
}

@media (max-width: 1200px) {
    .modals-content {
        max-width: 91%; /* Slightly reduce max width */

        transition: max-width 0.3s ease, padding 0.3s ease;
    }
}

@media (max-width: 900px) {
    .modals-content {
        max-width: 88%; /* Slightly reduce max width */

        transition: max-width 0.3s ease, padding 0.3s ease;
    }
}

@media (max-width: 768px) {
    .modals-content {
        max-width: 87%; /* Adjust container size for smaller screens */

        transition: max-width 0.3s ease, padding 0.3s ease;
    }
}

@media (max-width: 450px) {
    .modals-content {
        max-width: 92%; /* Adjust container size for smaller screens */

        transition: max-width 0.3s ease, padding 0.3s ease;
    }
}

.modals-content.close {
    animation: scaleOut 0.3s ease-in; /* Closing animation */
}

.modals-content.transition {
    animation: scaleOut 0.3s ease-in; /* Closing animation */
}

@keyframes scaleIn {
    from {
        transform: translateY(50px) scale(0.8);

        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: translateY(0) scale(1); /* Start from the open state */
        opacity: 1;
    }
    to {
        transform: translateY(50px) scale(0.8); /* Scale down and move up */
        opacity: 0;
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem; /* Padding inside the header */
    border-bottom: 1px solid #8b8b8b9f;
    max-height: 50px;
    margin: 0; /* Remove any external margin */
    box-sizing: border-box;
    width: 100%;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    height: fit-content;
}

.modal-title.dark {
    color: white;
}

.modal-close-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem; /* Set the width of the circle */
    height: 2em; /* Set the height of the circle (same as width) */

    border-radius: 50%;
    background-color: transparent;

    padding: 0.25rem;
    border-color: transparent;
    transition: background-color 0.2s;
}

.modal-close-icon {
    width: 24px; /* Icon size */
    height: 24px; /* Icon size */
}

.modal-close-button:hover {
    background-color: #fe8181;
    border-color: transparent;
}

.modal-close-button.dark:hover {
    background-color: #bc4f5e;
    border-color: transparent;
}

.modal-close-button:focus {
    outline: none; /* Prevent outline on focus */
    border-color: transparent; /* Ensure border remains transparent */
}

.modal-nav-buttons {
    display: flex; /* Set display to flex */
    flex-direction: row; /* Align children horizontally */
    gap: 10px; /* Add space between items */
    justify-content: center; /* Optionally, center the items */
}

.modal-back-button {
    display: inline-flex;
    justify-content: center;
    width: 2rem; /* Set the width of the circle */
    height: 2em; /* Set the height of the circle (same as width) */
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    padding: 0.25rem;
    transition: background-color 0.2s;
    border-color: transparent;
}

.modal-back-icon {
    width: 24px; /* Icon size */
    height: 24px; /* Icon size */
}

.modal-back-button:hover {
    background-color: #89cff0;
    border-color: transparent;
}

.modal-back-button.dark:hover {
    background-color: #7cb9e8;
    border-color: transparent;
}

.modal-back-button:focus {
    outline: none; /* Prevent outline on focus */
    border-color: transparent; /* Ensure border remains transparent */
}

.modals-body {
    display: flex; /* Ensure flexbox is used if it's a container */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the top (cross-axis) */
    justify-content: flex-start; /* Align items to the top (main-axis) */
    width: 100%; /* Occupy full width of the parent */
    height: 100%; /* Stretch to fill the parent container's height */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    box-sizing: border-box; /* Includes padding/border in dimensions */
}
