.grid-container {
    display: grid;
    width: fit-content; /* Content-based width */
    grid-template-columns: repeat(19, var(--screenApp)); /* 12 columns, each 70px wide */
    grid-template-rows: repeat(auto-fill, var(--screenApp)); /* Dynamically add rows of 70px */
    gap: 16px; /* Space between grid items */
    padding: 16px; /* Padding around the grid container */

    /* Calculate height by subtracting taskbar height and padding */
    height: calc(60% - var(--taskbar-height) - 32px);

    background-color: rgba(53, 92, 53, 0.1); /* Background color */

    /* For smaller screens (mobile), limit height to 100vh */
    @media (max-width: 1000px) {
        section {
            height: 100vh; /* Ensures full screen height on mobile */
        }
    }

    /* For smaller screens (mobile), limit height to 100vh */
    @media (max-width: calc(6 * $min-card-width)) {
        grid-template-columns: repeat(4, 190px);
        grid-template-rows: repeat(6, 190px);
        max-height: calc(6 * var(--grid-object-height));
    }
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Item background */
    border: 1px solid black; /* Border around items */

    border-radius: 8px; /* Optional rounded corners */
    font-size: 16px; /* Text size */
    color: black; /* Text color */
    width: 70px;
}
