.ExperienceContainer {
    display: flex;
    border: 1px solid #e0e0e0;
    box-sizing: border-box; /* Includes padding in size calculations */
    width: 100%; /* Occupies full width of the parent container */
    height: 100%; /* Occupies full height of the parent container */
    overflow: hidden; /* Prevents scrolling for the entire modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

@media (max-width: 1650px) {
    .-ExperienceContainer {
        width: 100%;
    }
}

.ExperienceContainer.dark {
    border: 1px solid #2c2c2c;
}

.experience-list-modal {
    max-width: 20%; /* Sidebar width as a percentage of the modal */
    border-right: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100%; /* Fills the height of the parent container */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    color: black;
}

.experience-list-modal.dark {
    background-color: rgba(128, 128, 128, 0.98); /* Grey with 0.98 transparency */
    color: #ffffff;
}

.ExperienceContainer,
.ExperienceContainer.dark {
    transition: all 0.5s ease-in-out;
}

.experience-item-modal {
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease;
    font-size: 13px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%; /* Matches the width of the parent container */
    padding: 10px;
    box-sizing: border-box; /* Includes padding in size calculations */
}

.experience-item-modal.dark {
    border-bottom: 1px solid #3f3f3f;
    color: #ffffff;
}

.experience-detail-modal {
    padding: 10px;
    max-width: 80%; /* Main content width as a percentage of the modal */
    height: 100%; /* Fills the height of the parent container */
    overflow-y: auto; /* Enables vertical scrolling */
    box-sizing: border-box; /* Includes padding in size calculations */
}

.experience-item-modal:hover {
    background-color: #f0f0f0;
}

.experience-item-modal.dark:hover {
    background-color: rgba(88, 88, 88, 0.98); /* Grey with 0.98 transparency */
}

.experience-item-modal.active {
    background-color: #e6f2ff;
    border-left: solid #78099452;
    font-weight: bold;
}

.experience-item-modal.dark.active {
    background-color: #555555;
}

@media (max-width: 1650px) {
    .experience-item-modal {
        height: 70px;
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .experience-item-modal {
        height: 85px;
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .experience-item-modal {
        height: 100px;
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .experience-item-modal {
        height: 100px;
        font-size: 11px;
    }
}

@media (max-width: 450px) {
    .modals-content {
        max-width: 92%; /* Adjust container size for smaller screens */
        padding: 0 20px; /* Add some padding */
        transition: max-width 0.3s ease, padding 0.3s ease;
    }
}

.experience-modal-header {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin-bottom: 5px;

    padding: 5px; /* Add spacing inside the container */

    box-sizing: border-box; /* Includes padding in dimensions */
    gap: 10px; /* Space between logo and text */
    color: black;
    padding-bottom: 15px;
    border-bottom: #2c2c2c2a solid 1px;
}

.company-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 20px;
    align-self: center;
}

.experience-modal-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: auto; /* Allow content to determine height */
    color: #333;
}

.experience-modal-text h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.experience-modal-text h3 {
    margin: 5px 0 0;
    font-size: 1em;
    color: #525252;
    font-weight: normal;
}

.skills {
    margin-bottom: 10px;
    padding: 10px;
    /*background-color: #f4f4f4;*/

    width: fit-content;

    margin-top: 5px;
    justify-self: center;
    font-weight: 500;
    color: #364858;
}

.ExperienceLongDesc {
    text-align: left; /* Aligns text */
    align-self: flex-start; /* Aligns this element within a flex container if applicable */
    width: 100%; /* Ensure the element spans its container for proper text alignment */
    color: #333;
}

.experience-modal-text.dark,
.experience-modal-text.dark h2,
.experience-modal-text.dark h3,
.ExperienceLongDesc.dark {
    color: #ffffffd3;
}
.skills.dark {
    color: #dddadae7;
}

.skills,
.skills.dark {
    transition: all 0.5s ease-in-out;
}

.back-button,
.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.experience-detail-modal-mobile {
    padding: 10px;
    overflow-y: auto;
}

.experience-list-modal.mobile {
    flex-direction: column;
    display: flex;
    width: 100%;
    overflow-y: scroll;
}

.experience-list-modal-mobile {
    width: 100%;
    margin: 0;
    display: block;
    overflow-y: scroll;
    padding: 10px;
}

.experience-item-modal-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    box-sizing: border-box; /* Includes padding in size calculations */
}

.experience-modal-mobile-title {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.experience-modal-mobile-title.dark {
    color: #cfcfcf;
}

.experience-list-modal-mobile :hover {
    background-color: #f0f0f0;
}

.experience-list-modal-mobile.dark :hover {
    background-color: rgba(88, 88, 88, 0.98); /* Grey with 0.98 transparency */
}

.experience-item-modal-mobile .short-description {
    margin: 0 0 10px 0;
    color: #666;
}

.experience-item-modal-mobile.dark .short-description.dark {
    color: #fafafa;
}

.experience-item-modal-mobile .location {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.location.dark {
    color: #fafafa85;
}

/*Animations */
