.affiliates-modal-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;

    height: 100%;
    box-sizing: border-box;
    display: flexbox;
    margin-top: 0px;
    padding-top: 0px;
}

.affiliates-modal-container.Mobile {
    height: auto;
}

.affiliates-modal-container.dark {
    background-color: rgba(42, 53, 53, 0.212);
    color: #f4f4f4;
}

.affiliates-section {
    margin-bottom: 30px;
}

.affiliates-section-title {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: var(--secondary-text-color);
}

.affiliates-dark-mode .affiliates-section-title {
    border-bottom-color: #444;
    color: #f4f4f4;
}

.affiliates-list {
    list-style-type: none;
    padding: 0;
}

.affiliates-list-item {
    padding: 12px 15px;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s ease;
}

.affiliates-dark-mode .affiliates-list-item {
    border-bottom-color: #383838;
}

.affiliates-list-item:hover {
    background-color: #f9f9f9;
}

.affiliates-list-item.Mobile:hover {
    background-color: transparent;
}

.affiliates-dark-mode .affiliates-list-item:hover {
    background-color: #3a3a3a;
}

.affiliates-list-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.affiliates-list-item-title {
    font-weight: 600;
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.affiliates-dark-mode .affiliates-list-item-purpose {
    color: #999;
}

.affiliates-list-item-type {
    color: #666;
    font-size: 0.8rem;
    text-align: right;
}

.affiliates-dark-mode .affiliates-list-item-type {
    color: #a0a0a0;
}

.affiliates-list-item-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.affiliates-list-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.affiliates-list-item-title-OB {
    font-weight: 600;
    font-size: 1rem;
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.affiliates-list-item-type-OB {
    color: #666;
    font-size: 0.8rem;
    text-align: right;
}

.affiliates-list-item-purpose {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    text-align: justify;
    width: 100%;
    margin-bottom: ;
    border-bottom: 2px solid #e0e0e0af;
}

.affiliates-list-item-title.dark,
.affiliates-list-item-title-OB.dark {
    color: var(--darkmode-text-color);
}

.affiliates-list-item-type.dark,
.affiliates-list-item-type-OB.dark {
    color: var(--darkmode-dark-text-color);
}

.affiliates-list-item.dark:hover {
    background-color: #5a5959b2;
}

.affiliates-section-title.dark {
    color: var(--darkmode-text-color);
    border-bottom: 2px solid #f0f0f09c;
}

.affiliates-list-item.dark {
    border-bottom: 1px solid #f0f0f059;
}
