.weather-widget-horizontal {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: rgba(26, 187, 165, 0.39);
    background: linear-gradient(to bottom, rgba(26, 187, 165, 0.199), rgba(26, 187, 165, 0.521), rgba(26, 187, 165, 0.2));
    color: var(--widget-text, #333);
    border-radius: 15px;
    height: 100%; /* Fill the parent container */
    width: 100%; /* Full width of the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent overflow if content spills */

    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
}

.weather-widget-horizontal.dark {
    background-color: var(--widget-dark-background, #3333336c);
    color: var(--widget-dark-text, #f0f0f0);
    border-color: rgba(31, 189, 189, 0.281);
}

.weather-icon-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Fill the widget's height */
    max-width: 150px;
}

.weather-icon-section.mobile {
    max-width: 100px;
    width: 40%;
    box-sizing: border-box;
}

.weather-icon-large {
    width: 100px;
    height: 100px;
}

.weather-icon-large.mobile {
    width: 100%;
    aspect-ratio: 1;
}

.weather-details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    height: 100%;
    width: 60%;

    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.weather-details-section.mobile {
}

.AlignBox {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.weather-location {
    display: flex;
    align-items: center;

    gap: 5px; /* Space between the SVG and text */
}

.location-symbol {
    transform: rotate(45deg) translateY(-1px); /* To get the correct orientation */
    width: 16px; /* Adjust SVG size */
    height: 16px; /* Adjust SVG size */
}

.location-text {
    font-size: 16px;
    line-height: 1; /* Align text with SVG */
}

.weather-temperature {
    font-size: 1.8rem;
    font-weight: bold;

    padding: 0px;
}

.weather-condition {
    font-size: 1rem;
    margin-bottom: 4px;
    font-weight: 500;

    line-height: 1; /* or use the same as font-size */
    text-transform: capitalize !important;
}

.weather-condition.mobile {
    font-size: 0.9rem;
}
@media (max-height: 700px) {
    .weather-condition.mobile {
        font-size: 0.8rem;
    }
    .weather-temperature.mobile {
        font-size: 1.5;
    }

    .weather-icon-large.mobile {
        width: 60px;
        height: 60px;
    }

    .location-text.mobile {
        font-size: 14px; /* Ensure text size matches SVG */
    }

    .location-symbol.mobile {
        width: 14px; /* Adjust SVG size */
        height: 14px; /* Adjust SVG size */
    }

    .weather-icon-section.mobile {
        max-width: 100px;
        width: 30%;
        box-sizing: border-box;
    }

    .weather-icon-large.mobile {
        width: 80px;
        height: 80pxpx;
    }
}

/* Media query for height less than 800px */
@media (max-width: 768px) {
    .weather-icon-large {
        width: 85px;
        height: 85px;
    }

    .weather-details-section {
        padding-left: 10px;
    }
}

@media (max-width: 650px) {
    .weather-icon-large {
        width: 75px;
        height: 75px;
    }

    .weather-details-section {
        padding-left: 5px;
    }
}

@media (max-width: 570px) {
    .weather-icon-large {
        width: 75px;
        height: 75px;
    }

    .weather-details-section {
        padding-left: 0px;
    }
}

@media (max-width: 1200px) {
    .AlbumArt {
        height: 110px;
        width: 110px;
    }
}

.weather-unavailable {
    display: flex;
    align-self: center;
    justify-self: center;
}
